nav button a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav button a:hover{
    text-decoration: none;
    color: darkred;
}
header img{
    width: 100%;
}
footer img{
    width: 100%;
}
footer h1{
    color: gray;
    text-align: center;
}
footer div a{
    fill: gray;
}
footer div a:hover{
    fill: white;
}
.bi-person-fill:hover{
    fill: white;
}
footer div h6{
    color: gray;
    padding-top: 20px;
}
section nav {
    background-color: darkred;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-top: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 5px;
}
.underline{
    margin: auto;
    margin-top: 5px;
    height: 2px;
    width: 60%;
    background-color: black;
}
footer p{
    margin-top: 5px;
    color: gray;
    font-size: 10px;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}
.incolumn{
    min-height: 220px;
    min-width: 250px;
}

.title{
    text-transform: uppercase;
}
