<nav class="unlinkednavbar">
    <h6 class="text-white pb-0" href="#">MANAGE PROFILE</h6>
</nav>
<div class='col-sm-12 bg-secondary mt-0 pt-1 pb-1 mb-4'>
    <form id="mainform" name="mainform" method="POST" action="lib/save.php">

        <!-- meta info -->
        <input type="hidden" id="table" name="table" value="accounts">
        <input type="hidden" id="pkey" name="pkey" value="acc_id">
        <input type="hidden" id="afterinsert" name="afterinsert" value="">
        <input type="hidden" id="afterupdate" name="afterupdate" value="">
        <!-- end meta info -->


        <div class="form-group mb-2">
            <label class="mb-0 text-white" for="acc_name">BAND NAME</label>
            <input type="text" class="form-control bg-dark text-white" id="acc_name" name="acc_name" value="@acc_name@">
        </div>
        <div class="form-group mb-2">
            <label class="mb-0 text-white" for="acc_desc">BIOGRAPHY</label>
            <textarea class="form-control bg-dark text-white" id="acc_desc" name="acc_desc" value="@acc_desc@"></textarea>
        </div>
        <div class="form-group">
            <label class="mb-0 text-white" for="acc_prof_pic">CHANGE PROFILE PIC</label>
            <input type="file" class="form-control-file bg-dark" id="acc_prof_pic" name="acc_prof_pic" value="@acc_prof_pic@">
        </div>
        <button type="submit" class="btn btn-dark mt-2">Save</button>
    </form>
</div>