<header class="header container pt-3 bg-dark">
    <div class="banner">
        <img class="img-fluid" src="./img/banner%20muse.jpg">
    </div>
    <div class="d-flex mt-2">
        <div class="profilepic col-4 p-1 bg-danger">
            <img class="img-fluid" src="./img/@acc_prof_pic@">
        </div>
        <div class="artistname align-self-end text-white ml-2 mt-4">
            <h1 class="mb-0 pb-0">@acc_name@</h1>
        </div>
        <div class="artistname align-self-end text-white ml-2 mt-4">
            <a href="profile_management.php?acc_id=@acc_id@"> bewerk profiel </a>
        </div>
    </div>
</header>
<section class="container pt-3 pb-3 bg-dark text-white">

    <nav class="unlinkednavbar">
        <h6 class="text-white pb-0" href="#">BIOGRAPHY</h6>
    </nav>


    <div class='col-sm-12  mt-0 pt-1 pb-1'>
        <P>@acc_bio@</P>
    </div>