<nav class="navbar navbar-light bg-danger container d-flex">
    <svg class="icon icon-alphabet_96900" height="40" width="40" fill="white"><use xlink:href="./src/css/base/Icons/symbol-defs.svg#icon-alphabet_96900"></use></svg>
    <a class="navbar-brand text-white flex-grow-1 ml-2">ArtistryHub</a>
    <button class="btn btn-outline-light mr-2" type="submit"><a href="index.php">HOME</a></button>
    <button class="btn btn-outline-light mr-2" type="submit"><a href="management.php">MANAGEMENT</a></button>
    <button class="btn btn-outline-light mr-2" type="submit"><a href="profile.php">PROFILE</a></button>
    <a href="profile.php"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="darkred" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg></a>
</nav>