<div class='container col-sm-3 bg-secondary'>
    <h6 class="text-white pb-0" href="#">Sign in/Sign up</h6>
    <form id="register" name="register" method="POST" action="lib/save.php">

        <input type="hidden" name="csrf" value="@csrf_token@">

        <!-- meta info -->
        <input type="hidden" id="table" name="table" value="accounts">
        <input type="hidden" id="pkey" name="pkey" value="acc_id">
        <input type="hidden" id="afterinsert" name="afterinsert" value="login.php">
        <input type="hidden" id="afterupdate" name="afterupdate" value="login.php">
        <!-- end meta info -->

        <div class="form-group row">
            <label class="mb-0 text-white" for="acc_email">E-mail</label>
            <input type="email" class="form-control bg-dark text-white" id="acc_email" name="acc_email" value="@acc_email@">
            @acc_email_error@
        </div>
        <div class="form-group row">
            <label class="mb-0 text-white" for="acc_name">Username</label>
            <input type="text" class="form-control bg-dark text-white" id="acc_name" name="acc_name" value="@acc_name@">
            @acc_name_error@
        </div>
        <div class="form-group row">
            <label class="mb-0 text-white" for="acc_pass">Password</label>
            <input type="password" class="form-control bg-dark text-white" id="acc_pass" name="acc_pass" value="@acc_pass@">
            @acc_pass_error@
        </div>
        <div class="form-group row">
            <label class="mb-0 text-white" for="acc_desc">SHORT DESCRIPTION</label>
            <input type="text" class="form-control bg-dark text-white" id="acc_desc" name="acc_desc" value="@acc_desc@">
            @acc_desc_error@
        </div>
        <div class="form-group row">
            <label class="mb-0 text-white" for="acc_bio">BIOGRAPHY</label>
            <textarea class="form-control bg-dark text-white" id="acc_bio" name="acc_bio">@acc_bio@</textarea>
            @acc_bio_error@
        </div>
        <div class="form-group row">
            <label class="mb-0 text-white" for="acc_prof_pic">PROFILE PICTURE</label>
            <input type="text" class="form-control bg-dark text-white" id="acc_prof_pic" name="acc_prof_pic" value="@acc_prof_pic@">
            @acc_prof_pic_error@
        </div>
        <div class="form-group col-6 mb-0 pr-0 pl-0 ml-0 mr-0 pr-0">
            <label for="acc_art_typ_id" class="mb-0 text-white">ARTIST TYPE</label>
            <div class="col-sm-8 pl-0 ml-0">
                @select_artist@
                @acc_art_typ_id_error@
            </div>
        </div>
        <button type="submit" class="btn btn-dark mt-2">Register</button>

    </form>
</div>